<div class="row">
    <div class="col-sm-6">
        <img src="{{ artist.photos[0].path }}" class="img-responsive" />
        <hr>
        <div class="row">
            {% for cover in artist.photos %}
                <div class="col-sm-4">
                    <img src="{{ cover.path }}" class="img-responsive" />
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-6">
        <h2>{{ artist.name }}</h2>
        <hr>
        {{ artist.bio|raw }}
        <hr>
    </div>
</div>