{% for artist in artists %}
    <div class="post-{{ artist.id }} post type-post status-publish format-standard has-post-thumbnail hentry category-design excerpt zoom {% if loop.index is odd %}odd{% else %}even{% endif %}">
        <a class="featured-image-link" href="{{ artistPage }}/{{ artist.slug }}">
            <div class='featured-image lazy lazy-bg-image'
                 data-background='{{ artist.photos[0].path }}'></div>
        </a>
        <div class="excerpt-container">
            <div class="excerpt-meta">
                <span class="city">{{ artist.country.name }}</span>
                /
                <span class="city">{{ artist.city }}</span>
            </div>
            <br />
            <div class='excerpt-header'>
                <h4><a href='{{ artistPage }}/{{ artist.slug }}'>{{ artist.name }}</a></h4>
                <h1 class='excerpt-title'>
                    <a href="{{ artistPage }}/{{ artist.slug }}">{{ artist.title }}</a>
                </h1>
            </div>
            <div class='excerpt-content'>
                <article>
                    <p>
                        <a class='more-link' href="{{ artistPage }}/{{ artist.slug }}">{{ 'Sprawdź'|_ }}
                            <span class='screen-reader-text'>{{ artist.title }}</span>
                        </a>
                    </p>
                </article>
            </div>
        </div>
    </div>

{% else %}
    <p>{{ noAlbumsMessage }}</p>
{% endfor %}

{% if posts.lastPage > 1 %}
    <nav class="pagination loop-pagination">

        {% if posts.currentPage > 1 %}
            <a class='prev page-numbers'
               href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a>
        {% endif %}

        <span class='page-numbers current'>{{ posts.currentPage }}</span>

        {% if posts.lastPage > posts.currentPage %}
            <a class='next page-numbers'
               href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a>
        {% endif %}
    </nav>
{% endif %}