<div class="row">
<div class="col-sm-6">
    <img src="{{ album.cover_images[0].path }}" class="img-responsive" />
    <hr>
    <div class="row">
    {% for cover in album.cover_images %}
    <div class="col-sm-4">
        <img src="{{ cover.path }}" class="img-responsive" />
    </div>
    {% endfor %}
    </div>
</div>
<div class="col-sm-6">

    <h2>{{ album.title }}</h2>
    <h4>{{ album.artist.name }}</h4>
    <hr>
    {{ album.description|raw }}
    <hr>
    <h4>{{ 'Tracklist'|_ }}</h4>
    {{ album.tracklist|raw }}
</div>

</div>